 body {
      margin: 0;
      font-family: "Segoe UI", sans-serif;
      background: linear-gradient(to right, blueviolet, purple);
      background-size: 300% 400%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    form {
      width: 350px;
      height:500px;
      background: linear-gradient(to right, blueviolet, purple);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      padding: 30px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);
      text-align: left;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
.eye {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#login{background: linear-gradient(to right, blue, purple); }

#file { background: linear-gradient(to right, green, purple); }

.label {  
        font-size: 16px;
        display: block; 
        margin: 10px 0 6px;
         }
.input {  
        width: 50%;
        padding: 10px; 
        border-radius:10px; 
        margin-bottom: 10px;
        font-size: 12px; 
        color: white; }
button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background: linear-gradient(to right, green, purple);
  color: white;
  cursor: pointer;
}
.dev{
     height: 450px;
     width: 300px;
}
.ad{
    height: 450px;
    width: 300px;

}
